<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card my-5">
        <!--Search city section-->
        <form role="search" #form="ngForm" (submit)="onSearch()">
          <div class="input-group my-3 mx-auto" style="width: 50%">
            <input
              type="search"
              class="form-control"
              placeholder="Enter City"
              aria-label="Enter City"
              aria-describedby="submitCityButton"
              name="cityName"
              [(ngModel)]="city"
            />
            <button class="btn btn-success" type="submit" id="submitCityButton">
              Search
            </button>
          </div>
        </form>

        <!--Select unit section-->
        <div class="mx-auto my-5" style="width: 50%">
          <ul class="list-group">
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="radio"
                name="listGroupRadio"
                value="metric"
                id="metric-unit"
                (change)="changeUnit('metric')"
                [checked]="selectedUnit === 'metric'"
                [(ngModel)]="selectedUnit"
                checked
              />
              <label class="form-check-label" for="metric-unit"
                >Metric Unit</label
              >
            </li>
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="radio"
                name="listGroupRadio"
                value="british"
                id="british-unit"
                (change)="changeUnit('british')"
                [checked]="selectedUnit === 'british'"
                [(ngModel)]="selectedUnit"
              />
              <label class="form-check-label" for="british-unit"
                >British Unit</label
              >
            </li>
          </ul>
        </div>

        <!--Selected city general info-->
        <div class="card-body" *ngIf="data">
          <p class="city display-3 text-center">
            <i class="bi bi-geo"></i>&nbsp;{{ data.location.name }}
          </p>
          <div class="row">
            <div class="col-lg-8">
              <p class="localtime display-5 text-center">
                {{ date }}
              </p>
            </div>
            <div class="col-lg-4">
              <div class="d-flex justify-content-center">
                <img class="weather-image" src="{{ imageUrl }}" alt="W" />
                <p class="fs-2 my-2" *ngIf="selectedUnit === 'metric'">
                  {{ data.current.temp_c }}&nbsp;&deg;C <br />
                  <span class="text-info fs-6 fw-medium"
                    >Feels Like {{ data.current.feelslike_c }}&nbsp;&deg;C</span
                  >
                </p>
                <p class="fs-2 my-2" *ngIf="selectedUnit === 'british'">
                  {{ data.current.temp_f }}&nbsp;&deg;F <br />
                  <span class="text-info fs-6 fw-medium"
                    >Feels Like {{ data.current.feelslike_f }}&nbsp;&deg;F</span
                  >
                </p>
              </div>
            </div>
          </div>

          <!--Selected city brief info-->
          <div class="container overflow-hidden">
            <div class="row g-3" style="margin-bottom: 1rem">
              <div class="col-md-4">
                <div class="box-1 px-3">
                  <div class="row">
                    <div class="sunrise my-3 container-1">
                      <i class="bi bi-sunrise fs-3 opacity-50"></i>
                      <span class="fs-4 ms-2 opacity-50">SUNRISE</span>
                      <p class="fs-2 ms-2">
                        {{ data.forecast.forecastday[0].astro.sunrise }}
                      </p>
                    </div>
                    <div class="sunset my-3 container-1">
                      <i class="bi bi-sunset fs-3 opacity-50"></i>
                      <span class="fs-4 ms-2 opacity-50">SUNSET</span>
                      <p class="fs-2 ms-2">
                        {{ data.forecast.forecastday[0].astro.sunset }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="box-2 px-3">
                  <div class="row">
                    <!-- low temp -->
                    <div class="low my-3 container-2">
                      <i class="bi bi-thermometer-low fs-3 opacity-50"></i>
                      <span class="fs-4 ms-2 opacity-50">MIN</span>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'metric'">
                        {{
                          data.forecast.forecastday[0].day.mintemp_c
                        }}&nbsp;&deg;C
                      </p>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'british'">
                        {{
                          data.forecast.forecastday[0].day.mintemp_f
                        }}&nbsp;&deg;F
                      </p>
                    </div>

                    <!-- high temp -->
                    <div class="high my-3 container-2">
                      <i class="bi bi-thermometer-high fs-3 opacity-50"></i>
                      <span class="fs-4 ms-2 opacity-50">MAX</span>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'metric'">
                        {{
                          data.forecast.forecastday[0].day.maxtemp_c
                        }}&nbsp;&deg;C
                      </p>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'british'">
                        {{
                          data.forecast.forecastday[0].day.maxtemp_f
                        }}&nbsp;&deg;F
                      </p>
                    </div>

                    <!-- wind -->
                    <div class="wind my-3 container-2">
                      <i class="bi bi-wind fs-3 opacity-50"></i>
                      <span class="fs-5 ms-2 opacity-50">WIND SPEED</span>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'metric'">
                        {{ data.current.wind_kph }} &nbsp;kph
                      </p>
                      <p class="fs-2 ms-2" *ngIf="selectedUnit === 'british'">
                        {{ data.current.wind_mph }} &nbsp;mph
                      </p>
                    </div>

                    <!-- humidity -->
                    <div class="humidity my-3 container-2">
                      <i class="bi bi-droplet fs-3 opacity-50"></i>
                      <span class="fs-4 ms-2 opacity-50">HUMIDITY</span>
                      <p class="fs-2 ms-2">
                        {{ data.current.humidity }}&percnt;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Forecast-->
          <div class="row">
            <div class="col text-center fs-1">
              <p>Two days forecast.</p>
            </div>
          </div>
          <div
            class="row my-3"
            *ngFor="let forecastDayData of forecastDaysData; let i = index"
          >
            <div class="col">
              <p class="fs-2">{{ forecastDays[i] }}</p>
            </div>
            <div class="col">
              <img
                class="weather-image d-block"
                src="{{ forecastDayData.day.condition.icon }}"
                alt="W"
              />
              <span class="text-info fs-6 fw-medium">{{
                forecastDayData.day.condition.text
              }}</span>
            </div>
            <div class="col">
              <i class="bi bi-thermometer-low fs-3 opacity-50"></i>
              <span class="fs-4 ms-2 opacity-50">MIN</span>
              <p class="fs-2" *ngIf="selectedUnit === 'metric'">
                {{ forecastDayData.day.mintemp_c }}&nbsp;&deg;C
              </p>
              <p class="fs-2" *ngIf="selectedUnit === 'british'">
                {{ forecastDayData.day.mintemp_f }}&nbsp;&deg;F
              </p>
            </div>
            <div class="col">
              <i class="bi bi-thermometer-high fs-3 opacity-50"></i>
              <span class="fs-4 ms-2 opacity-50">MAX</span>
              <p class="fs-2" *ngIf="selectedUnit === 'metric'">
                {{ forecastDayData.day.maxtemp_c }}&nbsp;&deg;C
              </p>
              <p class="fs-2" *ngIf="selectedUnit === 'british'">
                {{ forecastDayData.day.maxtemp_f }}&nbsp;&deg;F
              </p>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
